/*Login, Signup - 조수민*/
body, html{
	width:100%; height:100%;
	min-width:1100px;
}
#wrapper{  
    height: 100%;
    min-height:550px;
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;}
.loginCon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100%;
    background-color: #f5f5f5;}
.loginCon .loginBox{
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height:500px;
    background:white;
    flex-direction: column;
}

.loginCon .loginBox .SignupBox{
	height:700px;
}

.loginCon .loginBox .btnLogin{
    margin: 10px 0 20px;
    width: 80%;
    height: 40px;
    color: #fff;
    background-color: #404040;
    border-radius: 10px;
    border:none;
    cursor:pointer;
}
.inpw{
	height: 35px;
	padding: 0 40px 0 15px;
	width: 78%;
	border-radius: 2px;
	background: #f5f5f5;
	border: none;
	color:#404040;
	margin-bottom:10px;
}
.signUp{
	width:78%;
	display:flex;
    justify-content: flex-end;
    align-items: center;
}
.signUp a{
	font-size: 1.2rem;
    text-decoration: none;
    color: #404040;
    cursor:pointer;
    }
.signUp span{
	font-size: 1.2rem;
	color: #919191;
	cursor:default;
}
.inputForm{
	display:flex;
	width:78%;
	flex-direction:column;
}
.inputForm label{
	font-size:1.2rem; 
	color:#939393;
}

/* logo - 정성국 */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 50vw;
    text-decoration: none;
}

#logo {
    cursor: pointer;
}

/* menu - 조수민*/

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.allMenu{
    display: flex;
    /* grid-gap: 50px; */
    /* gap: 50px; */
    border-bottom: 3px solid #f2f2f2;
    /* padding-bottom: 20px; */
    padding-left: 16px;
    margin-bottom: 30px;
    justify-content: center;
}
.choose:after {
    content: "";
    position: absolute;
    height: 5px;
    width: calc(100%);
    /* width: calc(100% + 26px); */
    background: #404040;
    left: 0px;
    bottom: -3px;
}
.menu{
    display: flex;
    font-weight: 700;
    font-size: 20px;
    line-height: 126.5%;
    color: #848484;
    cursor: pointer;
    position: relative;
}

header > div > div {
    display: flex;
    align-items: flex-end;
}

/* qnaboard - 정성국 */

#post-container {
    display: flex;
    justify-content: center;
}

#right-menu, #left-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    margin-top: 40px;
    min-width: 200px;
}

#popular-tag-box {
    width: 200px;
    min-height: 355px;
    padding:20px;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #d1d1d1;
}

#popular-tag-container {
    display: flex;
    flex-wrap: wrap;
}

.qna-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.qna-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* 최대 3줄까지 표시 */
    overflow: hidden;
    text-overflow: ellipsis;
    min-block-size: 55px;
}

#search-box > button:hover, #question-btn-box > button:hover {
    background-color: black;
}

#search-input {
    border: none;
    border-bottom: solid 2px gainsboro;
    margin-bottom: 0;
    padding: 5px;
    width: 21vw;
}

.tag {
	border-radius: 20px;
    padding: 10px;
    background: #efefef;
    color: #656565;
    font-weight: 600;
    margin: 5px;
    cursor: pointer;
}

#tag-box {
	height: 30px;
}

#question-info-box {
    display: flex;
    justify-content: space-between;
}

/* post view - 정성국 */

#post-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#post-content-box, #comment-box {
    display: flex;
    flex-direction: column;
    border: 2px solid #e9ecef;
    width: 50vw;
}

#content-delimeter {
    border: 1px solid #e9ecef;
}

#content {
    display: inline;
    min-height: 200px;
}

#button-box, #post-info {
    display: flex;
    flex-direction:row-reverse;
}

#list-button,
#delete-button,
#modify-button,
.comment-save-button,
.comment-save-modify-button,
.comment-modify-cancel-button,
.comment-reply-button,
.comment-cancel-reply-button,
.comment-save-reply-button,
#recommend-button,
.button {
    color: white;
    background-color: #404040;
    border: 1px solid #404040;
    border-radius: 4px;
}

#content > p {
    margin: 10px;
}

.comment-input,
.comment-modify-input,
.comment-reply-input
{
    resize: none;
    border: 2px solid #d3d3d3;
    border-radius: 3px;
}

.flex {
    display: flex;
}

.comment-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

a{
	font-size: 1.2rem;
    text-decoration: none !important;
    color: #404040;
    cursor:pointer;
}

span,div{
	cursor:default;
}

.comment-content span{
	color: #404040;
}

#post-info span{
	color:#979797;
}

/* rounded toggle switch from w3school - 정성국 */
/* https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* 게시글 작성폼 - 조수민 */
#wrap {
	min-height:650px;
}
#titlearea{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
#title { /*제목 안 글씨 색 변경*/
	border: none;
	border-bottom: solid 2px gainsboro;
	margin-bottom: 0;
	padding: 3px;
	width: 100%;
}
input::placeholder {
    color: grey;
}
.board-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50vw;
    min-height:300px;
    border:2px solid #e9ecef;
    margin:0 auto;}
.btn-box{
	width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#textarea{
    width:100%;
}
.textarea{
    width: 100%;
    min-height: 350px;
    height:50%;
    resize: none;
}

/* 질문 글쓰기 추가 - 정성국 */
.input-box { /*제목 안 글씨 색 변경*/
	border: none;
	border-bottom: solid 2px gainsboro;
	margin-bottom: 0;
	padding: 3px;
	width: 100%;
}

/* 질문 게시판 수정 - 정성국 */
.qna-post-section {
    padding: 40px 0;
    width:1100px;
    margin:0;
    padding-left: 10px;
}

.selectBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* profile - 정성국 */

.underline {
    border-bottom: 3px solid #f2f2f2;
}

.introduce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduce-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}



/* 게시판 목록 프레임(Frame) - 조수민*/
.blog-section {
    padding: 40px 0;
    width:1100px;
    margin:0 auto;
    padding-left: 10px;
}
.container{
	display: flex;
    grid-gap: 27px;
    gap: 27px;
    flex-wrap: wrap;
} 
.blog-item {
    width: 250px;
    height:300px;
    padding:20px;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #d1d1d1;
    cursor:pointer;
} 
.blog-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.blog-thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}
.badge{
	border-radius: 20px;
    padding: 1px;
    background: #efefef;
    color: #656565;
    font-weight: 600;
    width: 35%;
    text-align: center;
}
.read-more{
	color:grey;
}
.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.select {
  /* 생략 */
  font-family: "Noto Sansf KR", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.1;

  color: #444;
  background-color: #fff;

  padding: 0.6em 1.4em 0.5em 0.8em;
  margin: 0;

  border: 1px solid #aaa;
  border-radius: 0.5em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}
.select:hover {
  border-color: #888;
}
.select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select:disabled {
  opacity: 0.5;
}
/*조수민 수정 start*/
/*postviewRecruitment*/
.fon-fam-ver.plus{line-height:1.8;}
/*boardwriteRecruitment*/
#editor{height:300px;}
/*boardRecruitment*/
.blog-foot{
    border-top: 2px solid #f2f2f2;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
}
.view{
	display: flex;
    align-items: center;
    color: #999;
    grid-gap: 5px;
    gap: 5px;
}
.blog-date.plus{
	font-size:1.4rem;
	color: #999999;
}
.blog-content.plus{
	height:160px;
}
.badge.plus{
	margin-top: 20px;
}
.blog-list *{
	cursor:pointer;
}
/*모달창*/
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index:999;
	background-color: rgba(0, 0, 0, 0.4);
}
.modal.show {
    display: block;
}

.modal_body {
	 position: absolute;
 	 top: 50%;
	 left: 50%;
	 width: 400px;
	 height: 250;
	 padding: 40px;
	 text-align: center;
	 background-color: rgb(255, 255, 255);
	 border-radius: 10px;
	 box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	 transform: translateX(-50%) translateY(-50%);
}
/*조수민 수정 end*/
/*조수민 05/10 수정 start*/
.changeplaceholder::placeholder {
    color: #ed0000;
}
.changeplaceholder{
   border: 1px solid #ff000057;
  background: rgba(255,99,71,0.1);
}  
/*조수민 05/10 수정 end*/

/* review board - 김수연 */
.badge-sy{
    float: left;
}
.badge-viewcount{ /*조회수 가장 많은 글-김수연*/
	border-radius: 20px;
    padding: 1px;
    background: #d2fbff96;
    color: #735af3;
    font-weight: 600;
    width: 35%;
    text-align: center;
    float: left;
    margin-left:5px !important;
}
.badge-new{ /*가장 최근에 등록된 글-김수연*/
	border-radius: 20px;
    padding: 1px;
    background: #fffb8896;
    color: #735af3;
    font-weight: 600;
    width: 35%;
    text-align: center;
    float: left;
    margin-left:5px !important;
}
.badge-recommend{ /*추천수 가장 많은 글-김수연*/
	border-radius: 20px;
    padding: 1px;
    background: #fddbfe96;
    color: #735af3;
    font-weight: 600;
    width: 35%;
    text-align: center;
    float: left;
    margin-left:5px !important;
}

/*2023.06.05 조수민 추가*/
.recruitmentPostview ul{
	display: grid; grid-template-columns: repeat(2, 3fr); grid-row-gap: 24px; row-gap: 24px; margin-top: 60px;
}
.recruitmentPostview ul li{
	display: flex; position: relative; align-items: center; font-weight: 700; font-size: 20px
}
.recruitmentPostview ul li span{
	font-size: 17px;
}
.recruitmentPostview ul li .inform{
	color: #717171; margin-right: 36px;
}
.postviewDate{
	border: 1px solid #aaa; border-radius: 0.5em; padding: 2px;
}